<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title><%= error %> - <%= msg %></title>
  </head>
  <body>
  	<div>
	    <h1><%= error %> - <%= msg %></h1>
	    <div><%= error %> - <%= msg %></div>
	</div>
  </body>
</html>
